soft        -fstype=nfs,soft,nfsvers=3 scicore-puma.scicore.p.unibas.ch:/gpfs/nasfs02/structbiosoft
bzsg01      -fstype=nfs,soft,nfsvers=3 scicore-puma.scicore.p.unibas.ch:/gpfs/nasfs02/rg-sg01
bzsh01      -fstype=nfs,soft,nfsvers=3 scicore-puma.scicore.p.unibas.ch:/gpfs/nasfs02/rg-sh01
bzts02      -fstype=nfs,soft,nfsvers=3 scicore-puma.scicore.p.unibas.ch:/gpfs/nasfs02/rg-ts02
researchit  -fstype=nfs,soft,nfsvers=3 scicore-puma.scicore.p.unibas.ch:/gpfs/nasfs02/tp-ri01
