modules -fstype=nfs,soft,nfsvers=3 urz-campus.storage.p.unibas.ch:/its-linux/soft/&
apps -fstype=nfs,soft,nfsvers=3 urz-campus.storage.p.unibas.ch:/its-linux/soft/&
lua_lmod -fstype=nfs,soft,nfsvers=3 urz-campus.storage.p.unibas.ch:/its-linux/soft/&
