/misc   /etc/auto.misc
/net    -hosts
+dir:/etc/auto.master.d
+auto.master

{% for mount in klb_autmount.automount_mounts %}
{{ mount.mountpoint }} /etc/{{ mount.file }}
{% endfor %}
{% if klb_automount.struct == True %}
/struct /etc/auto.struct
{% endif %}
