scicore-p-maiert-structbio        -fstype=nfs,soft,nfsvers=3,nfc 	toucan-all.scicore.unibas.ch:/export/sci_fs02/projects/&
scicore-p-structsoft        -fstype=nfs,soft,nfsvers=3,nfc         toucan-all.scicore.unibas.ch:/export/sci_fs01/projects/&
maiert-cs2db	    -fstype=nfs,soft,nfsvers=3,nfc                 toucan-all.scicore.unibas.ch:/export/sci_fs02/projects/&
maiert-cs2projects	-fstype=nfs,soft,nfsvers=3,nfc	                toucan-all.scicore.unibas.ch:/export/sci_fs02/projects/&
maiert-cs2staging	-fstype=nfs,soft,nfsvers=3,nfc                 toucan-all.scicore.unibas.ch:/export/sci_fs02/projects/&
perez-cs2db	        -fstype=nfs,soft,nfsvers=3,nfc                 toucan-all.scicore.unibas.ch:/export/sci_fs02/projects/&
perez-cs2staging	-fstype=nfs,soft,nfsvers=3,nfc                 toucan-all.scicore.unibas.ch:/export/sci_fs02/projects/&
perez-cs2projects	-fstype=nfs,soft,nfsvers=3,nfc                 toucan-all.scicore.unibas.ch:/export/sci_fs02/projects/&
